[2014-07-08 12:03] autra opened #1 "Does not install on Ubuntu 14.04. Missing python dependency?"
The install script fails on my machine with this trace:

running install
running build
running build_py
creating build
creating build/lib.linux-x86_64-2.7
creating build/lib.linux-x86_64-2.7/hotspotd
copying hotspotd.py -> build/lib.linux-x86_64-2.7/hotspotd
copying **init**.py -> build/lib.linux-x86_64-2.7/hotspotd
copying cli.py -> build/lib.linux-x86_64-2.7/hotspotd
copying run.dat -> build/lib

[2014-07-08 16:17] #1 closed, assigned to prahladyeri

[2014-07-08 16:18] autra opened #2 "When starting, got "eth1 interface was not found. Make sure you are connected to the internet.""
The script seems not to find my ethernet interface, though it appears in ifconfig

eth1      Link encap:Ethernet  HWaddr 00:24:9b:06:27:c9
          inet addr:192.168.4.25  Bcast:192.168.7.255  Mask:255.255.248.0
          inet6 addr: fe80::224:9bff:fe06:27c9/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:190513 errors:0 dropped:341 overruns:0 frame

[2014-07-08 16:47] ftw37 opened #3 "Can't share eth1 (no PPP?)"
Using Ubuntu 14.04
eth1 is connected to a router, not directly to the internet. So PPP is not running on that port as required per the script. Any ideas?

When I start the daemon, get this:

ifconfig:
eth1      Link encap:Ethernet  HWaddr 00:26:b9:7a:71:49
          inet addr:192.168.1.135  Bcast:192.168.1.255  Mask:255.255.255.0
          inet6 addr: fe80::226:b9ff:fe7a:7149/64 Scope:Link

[2014-07-08 20:51] #2 closed, assigned to prahladyeri

[2014-07-08 21:20] #3 closed, assigned to prahladyeri

[2014-07-09 08:08] autra opened #4 "Provide a way to uninstall"
I realize there is no way to uninstall your package. It would be good to provide a setup.py uninstall commande.

[2014-07-09 11:27] cemeyer opened #5 "setup.py complaints / issues"
Downstream Linux distros will complain about these things.

"NOTE: sys.prefix doesn't equate to /usr/local for some reason" https://github.com/prahladyeri/hotspotd/blob/master/setup.py#L27

That reason is that the system prefix on most Linux systems is /usr, not /usr/local. (/usr/local is the prefix for Ports on BSD, though).

This whole mess to strip out the --prefix option? ( https://github.com/

[2014-07-10 21:05] #4 closed, assigned to prahladyeri

[2014-07-10 21:05] #5 closed, assigned to prahladyeri

[2014-07-11 16:29] rkopack343 opened #6 "No module named hotspotd.__main__"
`root@test:~# hotspotd`
/usr/bin/python: No module named hotspotd.**main**; 'hotspotd' is a package and cannot be directly executed
`root@test:~# hotspotd start`
/usr/bin/python: No module named hotspotd.**main**; 'hotspotd' is a package and cannot be directly executed
`root@test:~# lsb_release -a`
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 12.04.4 LTS
Release:

[2014-08-09 20:19] Mailaender opened #7 "setup.py fails when trying to generate an RPM"
[code]

No idea why this happens https://build.opensuse.org/package/show/home:Mailaender:branches:network/hotspotd

[2014-08-16 16:37] #7 closed, assigned to nobody

[2014-08-16 16:37] Mailaender opened #8 "/usr/bin/hotspotd fails"
/usr/bin/python: No module named hotspotd.**main**; 'hotspotd' is a package and cannot be directly executed

:(

When using my RPM from https://build.opensuse.org/package/show/home:Mailaender:branches:network/hotspotd

[2014-08-16 17:21] #8 closed, assigned to nobody

[2014-08-16 19:16] #6 closed, assigned to prahladyeri

[2014-08-16 21:30] dejannenov opened #9 "Error running on BegaleBoard Ubuntu 14"
Hello,

I am getting this error:

Traceback (most recent call last):
  File "/usr/local/bin/hotspotd", line 9, in <module>
    hotspotd.main(sys.argv[1:])
AttributeError: 'module' object has no attribute 'main'

My distro is:

Linux arm 3.8.13-bone59 #1 SMP Sat Jul 5 02:59:43 UTC 2014 armv7l armv7l armv7l GNU/Linux

lsmod reports:
Module                  Size  Used by
g_multi                51145

[2014-10-23 13:45] #9 closed, assigned to prahladyeri

[2014-10-27 09:44] autra opened #10 "When uninstalling, /usr/local/bin/hotspod is not removed"
Thanks for providing a way to uninstall !

I realised that there was (at least) a leftover : /usr/local/bin/hotstpod is still there (but cannot run obviously).

Thanks

[2014-12-20 10:38] #10 closed, assigned to prahladyeri

[2014-12-27 10:38] aurabindo opened #12 "hostapd workarounds needed not just for ubuntu"
I tried on both fedora 21 and archlinux. Both require the wifi to be turned off by nmcli and then unblocked by rfkill. And the command line has changed for nmcli in these newer distros.

So please add a check for the nmcli version. If its the new one, do `nmcli r w off`. You can possibly remove the check for ubuntu.

[2014-12-28 10:45] aurabindo opened #13 "configure wizard: wrong interface id in run.conf"
On systems other than ubuntu, the interface is not `wlan0`. In archlinux, it is `wlo1` and something else in fedora. This id is not properly saved by the configure wizard. It is always `wlan0`. This triggers a silent failure; when `start` is invoked without `-v` it still says hotspot started, without any error text.

[2015-01-01 05:36] aurabindo commented on #12
`nmcli radio wifi radio off` is incorrect. It should be `nmcli radio wifi off`

A typo ? :P

[2015-01-01 10:47] prahladyeri commented on #12
Yup. Sorry abt that. I've fixed it and rebuilt.
Please test and confirm whether its working.

[2015-03-20 09:12] denisKaranja opened #14 "Block access"
Hi @prahladyeri , is there a way one can block a certain device using the MAC addr from accessing your hotspot?

[2015-03-20 11:23] prahladyeri commented on #14
@denisKaranja There isn't any built-in way. But I guess, you can mod the python script to make a call to a hostapd API that might fetch you the connected MAC address. Need to read up the kernel docs on hostapd for that:

https://wireless.wiki.kernel.org/en/users/documentation/hostapd

[2015-03-20 13:13] denisKaranja commented on #14
Thanks @prahladyeri . Doing that asap. Thanks for the great app too :100:

[2015-03-20 16:10] #14 closed

[2015-03-31 15:38] aossey opened #15 "Error during install v0.1.5"
I get the following error when I run install on CentOS 5.11.  Looks like it should be 'run.dat' but I can't find where this is referenced in the code.

running install
running build
running build_py
creating build
creating build/lib
creating build/lib/hotspotd
copying __init__.py -> build/lib/hotspotd
copying cli.py -> build/lib/hotspotd
copying main.py -> build/lib/hotspotd
**error: can't copy 'u

[2015-04-03 04:50] prahladyeri commented on #15
@aossey Sorry for the delay, for some weird reason I've stopped getting email notifications for bug raised here. The `run.dat` is just a template configuration file for hostapd. It is later used to create the actual config file based on your SSID, etc. This should be in the same location as main.py

[2015-04-27 14:14] forlayo opened #16 "On CentOS 7 this doesn't works."
[code]

[code]

[2015-04-28 01:37] prahladyeri commented on #16
Perhaps the different naming convention in centos (wlp2s0) confuses the app.

I think the wlano convention may have been hard-coded somewhere. Will check the code and revert back.

[2015-06-07 20:11] prahladyeri commented on #12
Closing this bug, since there is no news for a long time.

[2015-06-07 20:11] #12 closed

[2015-06-07 20:15] prahladyeri commented on #13
I haven't got around testing this for a while. Today, I'll test this on a few distro`s I've got including the latest versions of debian and fedora.

[2015-07-15 19:30] mhess-connectify opened #17 "Unable to authenticate with hotspot"
I have been unable to join a hotspotd network from 3 android devices.  The hotspots are visible, but android fails to connect in the WPA authentication stage.

[2015-08-02 21:49] Xunius opened #18 "Does not work in Linux mint 17.1 64-bit"
Hello,
I've tested your software in my Linux Mint 17.1 machine but it does not seem to work properly.
The installation went smoothly, and I set up a hotspot using `sudo hotspotd start` and entered necessary info. The outputs suggest that hotspot is running, but it is not visible to any devices. I tried to connect to that in my iphone but it says not reachable.

[2015-10-06 12:53] andretnt commented on #18
Same here in Linux Mint 17.1 32 bits!!!

[2015-11-24 16:49] stanzani commented on #16
I had the same problem.
CentOs 7 doesn't have the command iwconfig.
So... you need to install it:
yum install epel-release
and
yum install wireless-tools

[2015-12-10 17:36] prahladyeri commented on #16
@forlayo  Are you still using this daemon?

[2015-12-10 17:37] prahladyeri commented on #17
Did you check your firewall settings?

[2015-12-10 17:39] prahladyeri commented on #18
@andretnt  - Have you made sure that a firewall is not blocking your iphone from connecting?

[2015-12-29 13:44] anxious01210 opened #19 "hostapd"
after installing when I run "sudo hotspotd start" it says:
hostapd executable not found. Make sure you have installed hostapd.
If you could help me with this problem?
thx

[2015-12-29 17:33] prahladyeri commented on #19
hostapd is a  dependency which you must install before running hotspotd daemon. Just do a `sudo apt-get install hostapd` or the yum equivalent according to your package manager.

[2015-12-30 02:48] prahladyeri commented on #15
@aossey I'm closing this issue. Let me know if you face any issues and I'll reopen it.

[2015-12-30 02:48] #15 closed

[2015-12-30 02:49] prahladyeri commented on #17
@mhess-connectify I'm closing this. Let me know if you face any other issue.

[2015-12-30 02:49] #17 closed

[2016-01-18 17:56] rajmani1995 opened #20 "Doesn't work in Ubuntu 15.04 64bit"
Hi,
I used this package to use wifi hotspot in Ubuntu 14.04 it was working fine, but after upgrading to 15.04 it doesn't seem work properly.
[code]
is running. but wifi signal is not there.
I used hotspotd-0.1.4 version

[2016-01-18 19:10] prahladyeri commented on #20
Try reinstalling the `hostapd` package. It is a critical dependency and while you upgraded, it might have had some issues. Just do:

    sudo apt-get remove hostapd
    sudo apt-get install hostapd

[2016-01-19 07:20] rajmani1995 commented on #20
Thanks. It Worked !!

[2016-01-19 07:26] prahladyeri commented on #20
You are welcome!

[2016-01-19 07:26] #20 closed

[2016-02-02 11:56] prahladyeri opened #21 "Create a deb package for hotspotd daemon"
- Contact a Debian maintainer/developer.
- Ask them to have a look at hotspotd and whether it is of any use in the distro.
- List down what all changes need to be done to integrate this in Debian.

[2016-02-02 11:58] prahladyeri opened #22 "Create documentation and highlight mission statement"
Edit `README.md` and make the following changes:
1. Add a mission statement.
2. Highlight that the software is free and document how to install it.
3. Add testing instructions for various platforms.

[2016-02-03 08:36] prahladyeri opened #23 "Statically embed hostapd"
To minimize a dependency of the app,
- Look into how permissible the `hostapd` license and whether it allows static binding.
- If it does, then see the feasibility of including hostapd in this app itself.
- Test `hotspotd` in a "headless server" setup.
- Change the name of the app from from `hotspotd` to something better.

[2016-02-04 10:52] prahladyeri opened #24 "Consider a switch from MIT to GPL v3 license"
Make a switch from MIT to GPL v3 license after finalizing the major issues.

[2016-02-09 08:00] udoyen opened #25 "Ubuntu 14.04 LTS Connection Failure"
Hi Yeri
After installing you hotspotd and running it two things I observe
- ubuntu won't connect to internet anymore
- device connects but data not downloading

[2016-02-10 10:37] prahladyeri commented on #25
@udoyen Can you paste the console log (the text that appears on the console) since hotspotd is run?

[2016-02-16 12:27] Shtampzor opened #26 ""Wireless interface could not be found on your device.""
Hello,
I use a USB WiFI dongle, but when I run hotspotd it says this:
Verifying connections
Wireless interface could not be found on your device.
Traceback (most recent call last):
  File "/usr/local/bin/hotspotd", line 22, in <module>
    hotspotd.main.main(args)
  File "/usr/local/lib/python2.7/dist-packages/hotspotd/main.py", line 308, in main
    dc =json.load(open('hotspotd.json'))
IOError: [

[2016-02-16 20:57] prahladyeri commented on #26
What is the output of `ifconfig`? Does it show any wireless interface? Also make sure that the said wifi is enabled using `rflist`.

[2016-02-17 20:36] Shtampzor commented on #26
`ifconfig` shows enp3s0, lo and wlx60e327172ffd.
`rfkill list` doesn't show anything.

[2016-02-17 21:16] prahladyeri commented on #26
Looks like you do have a wireless card, but rfkill is not showing it which is strange. Its quite probable that you need to add additional drivers to get your wifi working. What distro is it? Also run `iwconfig`, what it says?

For [reference](http://askubuntu.com/questions/510642/rfkill-list-all-shows-nothing-in-command-line)

[2016-02-17 21:22] prahladyeri commented on #26
In case you are using an RALink Wifi Adapter, I think these two links might help you as well (and also try upgrading your kernel first):

http://ubuntuforums.org/showthread.php?t=2104690
askubuntu.com/questions/656633/14-04-ralink-rt3290sta-doesnt-work-doesnt-perform-make-from-the-popular-sol

[2016-02-17 22:07] Shtampzor commented on #26
I found the drivers, but it says that they are for kernel version 2.6.18 ~ 3.19.3, and mine is 4.2.0
I'm using Kubuntu 15.10.
`iwconfig` shows the same three items.
My adapter is Realtek.

[2016-02-17 22:12] prahladyeri commented on #26
Hmmn. Looks like either you will have to install an older distro, or try and find some solution online.

Can you post the `iwconfig` output? There is a good chance others have also faced this issue and Google might find something on this.

[2016-02-17 22:29] Shtampzor commented on #26
Maybe I can try to install the drivers anyways? Or it won't work for sure?
The `iwconfig` output is:
enp3s0    no wireless extensions.

wlx60e327172ffd  unassociated  Nickname:"<WIFI@REALTEK>"
          Mode:Managed  Frequency=2.412 GHz  Access Point: Not-Associated
          Sensitivity:0/0
          Retry:off   RTS thr:off   Fragment thr:off
          Power Management:off
          Link Quality:

[2016-02-17 22:51] prahladyeri commented on #26
What model is the wifi card? In case it is RTL8192, read [this](http://www.linuxquestions.org/questions/linux-wireless-networking-41/rtl8192-wifi-loaded-driver-but-unknown-next-step-912394/) link. You might have to install this [non-free firmware](https://wiki.debian.org/rtl819x).

[2016-02-17 23:06] Shtampzor commented on #26
The dongle's model is TL-WN725N V2.

[2016-02-17 23:19] prahladyeri commented on #26
[Here](http://askubuntu.com/a/297168/49938) is the exact solution that should work for you, try it and let me know.

[2016-02-18 10:20] Shtampzor commented on #26
I did what it said, there were no 404s for the git files, copied the .bin to /lib/firmware/rtlwifi/ and rebooted, but it still doesn't work.

[2016-02-18 11:32] prahladyeri commented on #26
There is another answer above that, try that too and if it still isn't resolved, raise a fresh issue on askubuntu.com:

[2016-02-20 12:16] gaurav36 opened #27 "hotspotd start is not working in fedora"
hi,

whenever i am starting hotspotd in fedora its saying that you need root permission. i am already a root user.

[root@dhcp-0-40 hotspotd-0.1.4]# ls
build  cli.py  hotspotd  **init**.py  main.py  PKG-INFO  run.dat  setup.py
[root@dhcp-0-40 hotspotd-0.1.4]# hotspotd start
You need root permissions to do this, sloth!
[root@dhcp-0-40 hotspotd-0.1.4]# strace hostspotd start
strace: Can't stat 'host

[2016-02-21 19:38] tycoon420 opened #28 "hotspot is having issue in kali linux(Rolling)"
Was using hotspotd in Kali (Sana) without any trouble but after updating Kali to Rolling. hotspotd is not working properly. hotspot is created n its showing on the phone but when i connect to hotspotd internet cannot be accessed.Plus when i want to stop hotspotd, the command works n it shows hotspot has stopped, but still i can see the hotspot in my phone :/
help me bro.
![screenshot from 2016-02-

[2016-02-21 20:11] prahladyeri commented on #27
Which version of Hotspotd are you using? And what version is Fedora?

[2016-02-21 20:19] prahladyeri commented on #28
Most probably, it seems to be an issue with iptables. Perhaps your new version of Kali is changing `iptables` internally so the hotspotd isn't able to mangle it. What is the output of `iptables -L` (in root)?
Also, what version of hotspotd are you using in the first place?

[2016-02-21 20:51] tycoon420 commented on #28
m using hotspotd 0.1.5
n here is the screenshot of iptables -L
![screenshot from 2016-02-22 02-19-36](https://cloud.githubusercontent.com/assets/11652113/13205275/f18e8ebc-d90a-11e5-888d-d51ec7e458c5.png)

[2016-02-21 21:35] prahladyeri commented on #28
If you are able to access internet on this machine, it may be an issue on the handset side. Did you check with multiple handsets/devices?

[2016-02-21 21:44] tycoon420 commented on #28
i tried connecting to the hotspot with 3 devices n still cant browse internet.

[2016-02-21 21:59] prahladyeri commented on #28
From hotspotd output, the connection is made between `wlan0<->eth0`. Are you sure `eth0` is the interface that is used to access the internet? If not, then do an `ifconfig` to verify which interface are you using for browsing the internet. If it has changed, then run hotspotd with `configure` argument once to re-configure it.

[2016-02-21 22:04] tycoon420 commented on #28
i am using ethernet to access  internet.
here is Screenshot of ifconfig.
![screenshot from 2016-02-22 03-31-54](https://cloud.githubusercontent.com/assets/11652113/13205742/190fe436-d915-11e5-909f-19efec8e7571.png)

[2016-02-21 22:24] prahladyeri commented on #28
In that case, there could  be multiple issues, try this way:

1. Run `rfkill list` and make sure that wifi radio is not hard-blocked on your machine. If this command doesn't work, its even more problematic as hotspotd daemon uses rkfill internally to work.

2. If rfkill/hardblock isn't the issue, then install the latest 0.1.6 version. I've added a few more debug messages that might help us trouble

[2016-02-21 22:40] tycoon420 commented on #28
rfkill list command works well n the output is attached below
![screenshot from 2016-02-22 03-56-55](https://cloud.githubusercontent.com/assets/11652113/13205934/c2fa80ce-d919-11e5-9a96-596e06231595.png)
i installed the new hotspotd 0.1.6v but same thing is happening. not able to access the internet on my both phones.

i didnt understand the 3rd point which u mentioned.Could u plz elaborate more p

[2016-02-21 22:50] prahladyeri commented on #28
Even if same thing is happening, lets see its output after running it? I've added some additional things like the complete `dnsmasq` command and the `hostapd` parameters.

Well, debugging is a step-by-step procedure to find out where exactly the issue is in a complex program. But don't worry about that, after running the new version, just paste whatever output the script is giving and we will see

[2016-02-21 22:54] tycoon420 commented on #28
here is the final output after running hotspotd 0.1.6
![screenshot from 2016-02-22 04-23-36](https://cloud.githubusercontent.com/assets/11652113/13206043/253d3176-d91c-11e5-83a8-ab5c47746c75.png)

[2016-02-21 23:02] prahladyeri commented on #28
k. Firstly, copy these two commands from the above console output and keep them in your text editor (they are second/third lines from the end):

`dnsmasq --dhcp-authoritative --interface=wlan0......`
`hostapd -B /usr/local/lib/python2.7......`

After that, Stop hotspotd first by running `hotspotd stop` and then run the above commands one by one, then state their output.

[2016-02-21 23:08] tycoon420 commented on #28
Bro here is the output of both the commands.
![screenshot from 2016-02-22 04-37-18](https://cloud.githubusercontent.com/assets/11652113/13206124/1e72179c-d91e-11e5-99b5-ac1bdc416634.png)

[2016-02-21 23:15] prahladyeri commented on #28
Carefully run the below commands in su mode one by one and tell me which one of them works:

    nmcli nm wifi off
    nmcli radio wifi off

[2016-02-21 23:19] tycoon420 commented on #28
nmcli nm wifi off - not working
it gives error- Error: Object 'nm' is unknown, try 'nmcli help'.

nmcli radio wifi off -this one is working.

[2016-02-21 23:30] prahladyeri commented on #28
Well, I initially thought that inconsistency in `nmcli` command might be causing problem in your case, but turns out I've already fixed that before v0.1.5. In your case, there seems to be something hardware specific. If it was working earlier, then the newer Kali update might have introduced something that is causing this. One thing you can try is to stop the network-manager service in this manner

[2016-02-21 23:42] tycoon420 commented on #28
No prob bro u tried ur best and Thanks a lot for ur time n ur work  . N yeah it was working like a charm in Kali Sana 2.0. Will try later, its 5am n got college from 9 am. keep up the good work n ur knowledge is immense would like to learn from u. thanks anyways. (Y).

[2016-02-21 23:50] prahladyeri commented on #28
No probs. The trick of fixing things in linux is just to stick to it. It might take a hundred more attempts, but if you learn it this way, the learning will be ingrained in you and make you a better developer. If you just perform `apt-get install <package>`, it might work, but you will never know how the stack works at the lower levels. Anyways, all the best for your studies.

[2016-02-22 05:54] gaurav36 commented on #27
Hi @prahladyeri  previously i have tried latest version then i thought it might not be stable then i tried 0.1.4 version. and error remain the same. I am using fedora 23.

root problem have solved by commenting code in /usr/bin/hotspotd. now i need to do some configuration. will update you if i face any issue.

Thanks :)

[2016-02-22 09:19] prahladyeri commented on #27
@gaurav36 I believe you've solved your problem by commenting this block of code in `/usr/bin/hotspotd`:

	#check root or not
	if os.getenv('USER') != 'root':
		print "You need root permissions to do this, sloth!"
		sys.exit(1)

If yes, there is a good chance that os.getenv() python function is not working on your fedora version. When you get time just run `python` and following two commands in the

[2016-02-22 15:04] gaurav36 commented on #27
here is the output:
[root@dhcp-0-40 hotspotd-0.1.5]# python
Python 2.7.10 (default, Sep  8 2015, 17:20:17)
[GCC 5.1.1 20150618 (Red Hat 5.1.1-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'garg'

I think its not going to work here. better to do following check

'/root'

'/root'

you can perform various check by getting os environment also. let me know if you

[2016-02-22 21:13] prahladyeri commented on #27
Thanks. os.getenv('HOME') is a good approach but not fool proof. For example, if I use sudo to start the daemon, the variable will be `/home/prahlad` instead of `/root`. I'm working on another better approach.

BTW, what exact configuration are you not able to setup? Did you try `hotspotd configure` command?

[2016-02-26 07:00] nagedoer opened #29 "How to use this on Boss Operating System"
Hi,
I followed your instructions and the youtube video https://www.youtube.com/watch?v=sZzvNeGS0eI
Everything is fine but i am not able to see the SSID of the name i have created during the configuration in my wifi scan on my android mobile.

Cmd output **lspci -k | grep -A 3 -i network**
04:00.0 Network controller: Intel Corporation PRO/Wireless 3945ABG [Golan] Network Connection (rev 02)
    Sub

[2016-02-26 10:53] prahladyeri commented on #29
Can you state the program output? What happens when you run `hotspotd` command?
Also state the output of `ifconfig` and `rfkill list` commands run separately.

[2016-02-26 11:04] nagedoer commented on #29
Hi Prhladyeri,
The following is the output:

Verifying interfaces
done.
done.
created interface: mon.wlan0 on IP: 192.168.45.10
wait..
stopping dnsmasq
enabling forward in sysctl.
net.ipv4.ip_forward = 1
creating NAT using iptables: wlan0<->eth0
running dnsmasq
dnsmasq --dhcp-authoritative --interface=wlan0 --dhcp-range=192.168.45.20,192.168.45.100,255.255.255.0,4h
hostapd -B /usr/local/lib/python

[2016-02-27 06:10] nagedoer commented on #29
Hi Prahladyeri,
Eagerly waiting for your update.

[2016-02-27 08:21] prahladyeri commented on #29
@nagedoer From the output it seems to me that hotspotd is running well, but there is some other issue on the system. For one, are you sure `eth0` is the interface used to connecting interface? Because that is what you have linked with the Wifi AP (`wlan0<->eth0`).

Secondly, have you read the following link about enabling Wifi in BOSS and done accordingly?

http://wiki.bosslinux.in/wiki/index.php/

[2016-02-28 17:56] shark-S opened #30 "Connection problems."
Other device can't connect to hotspot
Just showing  Authenticating..

[2016-02-28 18:33] shark-S commented on #30
have to see issue  #17 get it

[2016-02-28 18:33] #30 closed

[2016-02-29 05:05] nagedoer commented on #29
Hi Prahladyeri,
Thanks for your update. I will check the everything and try to fix the things.
Will keep you update as soon as possible..

[2016-02-29 06:08] nagedoer commented on #29
Hi @prahladyeri FYI,
The following is the output for the cmd **sudo apt-get install firmware-iwlwifi**
Reading package lists... Done
Building dependency tree
Reading state information... Done
firmware-iwlwifi is already the newest version.
The following packages were automatically installed and are no longer required:
  git git-man liberror-perl
Use 'apt-get autoremove' to remove them.
0 upgraded,

[2016-02-29 12:27] prahladyeri commented on #29
The details are ok, but I really couldn't think of a reason as to why your handset may not be accessing the internet.

The point is that whichever interface you use to connect the internet should be specified there. I've never tried/tested this with a wifi signal to be frank. In your case, which interface is the *source* that gets you internet? Is it ethernet or a wifi signal?

[2016-03-01 05:09] nagedoer commented on #29
I too wondering why i am not getting internet connection from hotspotd.

I am using my wifi signal to create a hotspot.

Once i initiated this command.
**sudo hotspotd start**
My wifi was disabled, i have to enable it again.

[2016-03-03 15:25] affinage commented on #29
I have such a similar issue as @nagedoer mentioned above.
Ubuntu 14.04; hotspotd to v0.1.5
just after command
`sudo hotspotd start`
my wi-fi is disabled. (yes it was previously enabled)

ps. downgraded hotspotd to v0.1.5 - and all works like a charm. so issue is most probably in code changes.

[2016-03-03 15:39] prahladyeri commented on #29
@affinage

Can you confirm which exact version you downgraded to since that will help me fix the issue in `hotspotd` master branch.

[2016-03-03 15:44] affinage commented on #29
@prahladyeri
firstly when I use following link to download sources
`wget https://github.com/prahladyeri/hotspotd/raw/master/dist/hotspotd-latest.tar.gz`
I have issues with wi-fi disconnection

so I removed all `hotspotd` files and get file from link
`wget https://github.com/prahladyeri/hotspotd/raw/master/dist/hotspotd-0.1.5.tar.gz`
and it works.

[2016-03-03 15:48] prahladyeri commented on #29
@affinage thanks! In fact, you did not downgrade anything, `hotspotd-0.1.5` is the latest. The `hotspotd-latest` tar file is not pointing to the latest version(0.1.5), so I'll fix that.

[2016-03-03 15:55] affinage commented on #29
@prahladyeri
hmm. strange, just looked through bash history and seems that `v0.1.6` was installed using `hotspotd-latest` tar file.

[2016-03-03 16:47] prahladyeri commented on #29
@affinage

Sorry my bad, I just forgot to have issued the 0.1.6 version :anguished:. But when I compare the `main.py` of both versions, there are only some additional print statements for helping with debugging. Can you please check again if it works with 0.1.6 as well?

[2016-03-04 05:11] nagedoer commented on #29
Hi @affinage & @prahladyeri,
Thanks for updating the information about the version issue.
Ok, Should i install the version hotspotd-0.1.5 or v0.1.6.
Then give me exact url for downloading..

Thanks in advance.

[2016-03-04 09:57] affinage commented on #29
@prahladyeri
yeap, just tried. v0.1.6 does not work properly.

@nagedoer
i use such:
[code]

[2016-03-07 12:08] #24 closed

[2016-03-09 11:13] nagedoer commented on #29
@prahladyeri
Thanks for your update. I will check and update you.

[2016-03-16 11:05] nagedoer commented on #29
@prahladyeri & @affinage
I tried using connectify hotspot on the same machine where i have dual operating system.

http://www.connectify.me/blog/ask-support-ap-mode/

As it was mentioned on the blog.
Hosted network supported is 'No' for me.
I think, it could be a hardware issue.

[2016-03-16 12:52] prahladyeri commented on #29
@nagedoer
If your wifi works with connectify on Windows, but doesn't work on any Linux distro, then it is not hardware issue, but a *driver issue* for your wifi card, since the open source drivers used in Linux may not be as good as the proprietary ones used in Windows. You can try contacting the manufacturer of your Wifi card or laptop and you can also raise this issue on forums like [askubuntu.c

[2016-03-21 05:52] nagedoer commented on #29
Hmm thanks for your update @prahladyeri

[2016-03-21 18:24] beflo commented on #28
Any development on this issue?

[2016-05-06 08:34] hudiya opened #32 "no internet access via wifi in kali linux rolling"
ii already use any way to fix it ,but no one can solve permanently

[2016-05-08 09:48] prahladyeri commented on #32
Can you please specify the issue in more detail? How to replicate it and what error messages are printed on the console?

[2016-05-08 22:23] tycoon420 commented on #32
i had the same issue on kali rolling.
so i rollbacked to kali sana its working like a charm.Something is wrong in kali rolling files i guess

[2016-06-04 15:57] konsbn opened #33 "The moment I start the hotspot my internet stops"
Whenever I start the hotspot the internet starts giving DNS not found error

[2016-06-04 16:22] prahladyeri commented on #33
The error comes on the host machine of the AP? Which means internet works ok on your mobile phone that connects to AP or it doesn't come there too?

I think you have got two wifi interfaces - one you are using to connect to internet, and second is used by hotspotd to create the AP. Please confirm if this is true?

[2016-06-04 17:15] konsbn commented on #33
No the DNS error is on both the mobile device and the Host Computer. I am using Ethernet to connect to the internet. I am not using wifi to access internet.

[2016-06-06 08:40] konsbn commented on #33
Please help?

[2016-06-06 17:17] prahladyeri commented on #33
hotspotd depends on `dnsmasq`  for DNS resolution and address provisioning, do you have it installed on your system? Check by running `dnsmasq -v`.

If its not installed, then install it and try again. If its already installed, then reinstall the package and try again.

[2016-06-07 08:07] konsbn commented on #33
I have dnsmasq installed.
`➜  ~ dnsmasq -v
Dnsmasq version 2.68  Copyright (c) 2000-2013 Simon Kelley
Compile time options: IPv6 GNU-getopt DBus i18n IDN DHCP DHCPv6 no-Lua TFTP conntrack ipset auth

This software comes with ABSOLUTELY NO WARRANTY.
Dnsmasq is free software, and you are welcome to redistribute it
under the terms of the GNU General Public License, version 2 or 3.
`

It used to work

[2016-06-07 08:09] prahladyeri commented on #33
Can you show me the console output of hotspotd when you start it?

[2016-06-07 14:39] konsbn commented on #33
It starts normally and doesn't throw any errors. I can connect to the hotspot but I get DNS error on both my android and on Ubuntu

[2016-06-07 16:38] prahladyeri commented on #33
In that case, it appears to be some kernel/OS level issue introduced in Elementary. Try to raise this with elementry support and provide them with the output of `/var/log/syslog` to trace the DNS issue.

[2016-06-08 04:49] konsbn commented on #33
Is there nothing I can do meanwhile? Because everything is the same it used to work on 14.04.

[2016-06-08 10:05] konsbn commented on #33
Here is the out put of cat /var/log/syslog [log.txt](https://github.com/prahladyeri/hotspotd/files/304465/log.txt) On a side note even though my internet doesn't work after `start hotspotd` my torrent client is working just fine with downloads.

[2016-06-08 13:57] prahladyeri commented on #33
That sounds very much like a firewall issue to me. Check your firewall settings using `sudo iptables -L` and other methods of Elementary OS.

[2016-06-08 14:48] konsbn commented on #33
I tried `sudo ufw allow 53/udp` and 'sudo ufw allow 80/tcp`  and 'sudo ufw allow 443/tcp`. Still no change the DNS error keeps propping up. Here is the output from `sudo netstat -ntlp | grep LISTEN`
[code]

[2016-06-08 15:02] prahladyeri commented on #33
What happens when you run the following command manually?

    ifconfig <wlan> up IP <ipaddr> netmask 255.255.255.0

Replace <wlan> with your wifi interface and <ipaddr> with your ip-address?

[2016-06-08 15:10] konsbn commented on #33
This-
[code]

[2016-06-08 15:21] prahladyeri commented on #33
You've got a much larger networking issue with `ifconfig` not working as it should be :smile: . Try to get this resolved first from the Elementary team first.

Basically, this is what `hotspotd` does internally first - try and bring up your wifi interface so it can create the ap. As a workaround, try running this command first and then hotspotd using `sudo` and see if that helps.

[2016-06-08 15:23] konsbn commented on #33
damn, what it should be doing? and what could I do?

[2016-06-08 15:26] prahladyeri commented on #33
It should not be saying `Operation not permitted` if everything works properly. As I said, try running hotspotd in sudo mode and try raising the ifconfig issue with elementary team. Those are the only things you could presently do.

[2016-06-08 15:29] konsbn commented on #33
using ` sudo ifconfig wlan0 up IP 103.37.201.63 netmask 255.255.255.0` gives me `IP: Host name lookup failure`

[2016-06-08 16:12] konsbn commented on #33
There's no response on elementary OS stack exchange

[2016-06-08 16:56] prahladyeri commented on #33
Elementary is buggy and gets even buggier when you try to customize or use less used features like dns servicing or hostapd. Refer to below article for a discussion on this:

https://www.reddit.com/r/linuxmasterrace/comments/3y2cfo/ubuntu_vs_elementaryos_vs_linux_mint_cinamon_vs/

Might I ask why do you want to use Elementary instead of Ubuntu?

[2016-06-08 16:58] konsbn commented on #33
Because  I am an idiot that's why I thought maybe I should give elementary a try. Plus I tried ubuntu 16.04 but I couldn't ger driver:brcmsmac to work. so yeah.

[2016-06-08 17:00] prahladyeri commented on #33
16.04 isn't quite ready for the show yet, it will be once 16.04.1 comes out. Until then, stick with Ubuntu 14.04 LTS - proven and time-tested.

[2016-06-08 17:16] konsbn commented on #33
I am tired of this shit. Ubuntu is moving away from desktop computing and No other good replacement is available.

[2016-06-08 17:24] prahladyeri commented on #33
How about Debian and Fedora? There is also Linux Mint, all are desktop oriented.

[2016-06-08 17:52] konsbn commented on #33
I do not like fedora's package manager. And I don't know maybe I am too used to ubuntu based systems

[2016-06-08 17:52] konsbn commented on #33
What do you use?

[2016-06-08 18:19] prahladyeri commented on #33
If you are used to ubuntu based systems, you can certainly handle Debian Stable and also Linux Mint. Try either of them, they are mainstream so you won't have any issues. More importantly, their support forums are good, so you usually receive quick replies.

[2016-06-21 05:54] shubhz14 commented on #27
It is working perfectly fine as a root user with the command 'sudo hotspotd start' on my Redhat Enterprise Linux 7.
Although It doesn't makes any sense using 'sudo' command as a root user!

[2016-06-21 05:55] shubhz14 commented on #27
It is working perfectly fine as a root user with the command 'sudo hotspotd start' on my Redhat Enterprise Linux 7.
Although It doesn't makes any sense using 'sudo' command as a root user!

![screenshot from 2016-06-21 11 23 27](https://cloud.githubusercontent.com/assets/9039150/16219269/c3aeebd0-37a2-11e6-88fb-23c231c76527.png)

[2016-06-22 14:53] prahladyeri commented on #27
I believe that sloth message you are getting because the root check wasn't being done in the earlier versions. Did you try out the latest version of hotspotd?

[2016-07-14 15:24] dammianhr commented on #26
hi!
i have the same problem:

Verifying connections
Wireless interface could not be found on your device.
Traceback (most recent call last):
  File "/usr/local/bin/hotspotd", line 22, in <module>
    hotspotd.main.main(args)
  File "/usr/local/lib/python2.7/dist-packages/hotspotd/main.py", line 310, in main
    dc =json.load(open('hotspotd.json'))
IOError: [Errno 2] No such file or directory: 'hot

[2016-12-08 16:03] ghost opened #35 "Serving content"
When people use the hotspot can I serve content over it ?

[2016-12-09 11:37] prahladyeri commented on #35
If you have apache or nginx web server running on the same server as hotspotd, then sure you can. The hotspotd is also a node in the entire DHCP address range, so it can be accessed through any device.

All you have to do is make the web-server listen on all ports and keep your firewall open on ports 80 and 443 (or whatever ports you want to serve content on).

[2016-12-11 03:11] duoduoeeee opened #36 "No such file or directory: 'VERSION'"
I installed a proprietary driver in my Ubuntu 16.10 device. My wireless card is `03:00.0 Network controller: Broadcom Limited BCM4313 802.11bgn Wireless Network Adapter (rev 01)`
I ran `lspci -k | grep -A 3 -i network` and it says
[code]
So I ran `modinfo wl | grep depend` and it says
[code]
I ran `sudo hotspotd start` it output something like these below. I believe there's something wrong with ho

[2016-12-11 03:12] duoduoeeee commented on #36
OK I found that cfg80211 is different from mac80211
Please close this issue.

[2016-12-11 03:13] #36 closed

[2016-12-11 06:27] prahladyeri commented on #36
Whilst that is certainly true, your error regarding version doesn't seem to be about that. Are you sure the setup ran without any problems? In any case, you can create a text file called VERSION and manually place it in following directory and see if this error resolves:

`/usr/local/lib/python2.7/dist-packages/hotspotd/`

[2016-12-12 09:23] duoduoeeee commented on #36
oh sorry... I have just switched back to windows thus unable to try it out
but I believe creating the VERSION file as you said would (theoretically) fix the problem...

[2017-02-24 19:39] ferauche opened #37 "Authentication problem using hotspotd with USB Adapter on Debian 8"
I can start hotspotd without problem. I leave the default password, only changed the SSID name

The SSID name appears on my cellphone, I put the default password (123456890) but appears an error while trying to authenticate.

I'm running the hotspotd into a Debian 8 with an USB adapter Realtek RTL8188CUS.

What am I doing wrong?

[2017-03-22 20:34] deezebee opened #38 "devices keep connecting forever"
I've been using your program for a few months now, after the first time I configured it, it kept running as intended. Now, I reinstalled it, the only things I changed in run.conf were ssid, wpa_passphrase, and interface (from wlan0 to wlp3s0). The hotspot shows up fine when my devices are looking for a wireless connection, and when I put in the correct passphrase, it seems to accept it, but then i

[2017-04-11 10:29] ludusrusso commented on #37
Same issue here, on a Raspberry Pi!
Did you find some solutions?

[2017-04-11 13:29] ferauche commented on #37
I only got to work disabling the authentication.

I changed the run.conf and remove the authentication lines.

/usr/local/lib/python2.7/dist-packages/hotspotd/run.conf

2017-04-11 7:29 GMT-03:00 Ludovico Russo <notifications@github.com>:

[2017-05-02 06:20] KaiserEd opened #39 "unable to turn on hotspot after the upgrade on kali linux"
The hotspot is working properly before I used the "apt-get dist-upgrade". After the process I can't turn on my hotspot anymore. I restarted the laptop but it wouldn't work.
Can someone please help me. I really need a hotspot for I am only using LAN.

[2017-05-30 16:47] prahladyeri commented on #37
@ferauche Pretty sure that your cellphone might not be supporting the WPA/WPA2 authentication in the current form. You can try changing the encryption method from `TKIP` to `AES` in the run.conf:

[code]

The other thing you can try changing is the authentication algorithm:

[code]

[2017-05-30 16:51] prahladyeri commented on #39
@KaiserEd Quite possible that your "dist-upgrade" had interfered with the `dnsmasq` settings or your wifi driver. Raise this issue at your distro forum or bug-tracker as they will understand the changes to the system better.

[2017-05-30 17:05] prahladyeri commented on #38
@deezebee The run.conf should be ideally located at the same place where the main script (main.py) is located. Let me know if you are able to locate and change the configuration from there. If so, we might be having a bug whereby the run.conf is being saved at two places in the running of the script.

[2017-05-31 01:44] JeanPierreFig opened #40 "Start and stop hotspotd from a python script?"
Hi, this software is awesome. I would like to start and stop hotspotd from a python script and not from the terminal is there any way to do this?

[2017-05-31 02:25] prahladyeri commented on #40
@JeanPierreFig Thanks for the appreciation!

The main scripting logic is in the `main.py`. Just import this module and call the below methods to start or stop the hotspot:

[code]

[2017-05-31 02:58] JeanPierreFig commented on #40
Thank you very much!!!!

[2017-05-31 03:12] #32 closed

[2017-05-31 03:13] #16 closed

[2017-05-31 03:13] #13 closed

[2017-05-31 03:14] #18 closed

[2017-05-31 03:15] #19 closed

[2017-05-31 05:32] JeanPierreFig commented on #40
you do not have a python 3 version right? :(

[2017-05-31 05:40] prahladyeri commented on #40
Nope, I'd tested this originally with 2.7 only. But I'm fixing this currently to get it working on 3.x.

[2017-05-31 05:57] JeanPierreFig commented on #40
I got it to install in Python 3 and can import it from a Python 3 script but I'm getting a "no module named cli" I don't know why?

[2017-05-31 06:02] prahladyeri commented on #40
The `cli.py` has to be located in the same place as the `main.py`, is it there? Even after that, `cli` module won't work properly in 3.x as there are fixes that need to be done (using `print()` function instead of `print` statement, for instance).

[2017-05-31 07:05] JeanPierreFig commented on #40
Yes I got it working with `from hotspotd import cli` but I'm getting a new error

I tried fixing it by adding a `line.startswith(b' ')` but now I'am getting

[2017-06-09 06:39] JeanPierreFig opened #41 "Not an issue just a question?"
How would I go about to configure a domain name for the hotspot? Example, instead of directing a user to use an IP address go to doSomthing.com and that would redirect them to localhost.

[2017-06-09 07:11] prahladyeri commented on #41
If you can understand python, see:

https://github.com/prahladyeri/hotspotd/blob/master/main.py

The start_router() function is where the dnsmasq is configured and the AP is started.

[2017-06-09 08:55] JeanPierreFig commented on #41
I thought you could do a DNS lookup with dnsmasq.  interesting thank you, I just thought that could be a good add-on. 👍

[2017-06-10 02:49] prahladyeri commented on #41
Yes, it does the look up from IP-addresses (like `192.168.45.50`) to the wifi interface on a machine called "Foo" in your local network where `hotspotd` is running (which could be running the dns-server with the ip address `192.168.45.1`). From your question, it looks like you want the hotspot to direct the user to another domain such as xyz.com instead of this local address 192.168.45.1?

If so,

[2017-09-06 04:31] JeanPierreFig commented on #41
Hey, I just saw this. I think you didn't understand me. What I want to do is be able to direct a user that is connected to the hotspot to use the URL setup.com then that URL will redirect to 192.168.45.1 That way the user does not need to type in 192.168.45.1..

[2017-09-06 05:08] prahladyeri commented on #41
In that case, that might be possible by changing the DNS configuration on the machine where hotspotd is running (and associate your `setup.com` domain with the IP address 192.168.45.1). See [this stack exchange discussion](https://serverfault.com/questions/136332/setting-up-dnsmasq-for-a-local-network)  for more info.

[2017-09-07 03:51] JeanPierreFig commented on #41
Thanks will get back to you when I figure it out. I don't have time right now :(

[2017-10-02 02:58] duoduoeeee opened #43 "installation failure"
When I do `sudo python setup.py install` the script says

[code]

Is it because something is broken with your code, or something wrong with my system?

I have Manjaro 17.0.5 x86_64 installed

![screenshot from 2017-10-02 10-56-09](https://user-images.githubusercontent.com/14347369/31062870-6f6ad528-a760-11e7-9da3-b814b2fced91.png)

Thanks in advance

[2017-10-04 02:29] RRibbon commented on #28
hi everyone..

i had a issues when i start hotspotd

im already configure ip address,passwrd,also ssid,everything is fine..

i connected with the hotspot,

and here's the problem

1.when hotspotd turn on,my pc automatically turn of wifi connection,so my phone cannot connect to the internet because of that.

2.what shoud i do?
if anyone could help me,what should i tell to you,maybe i should check s

[2017-12-12 00:53] Sarverott opened #45 "prompts "not installed" after succesfull installation on sbc"
# DETAILS
system: dietpi
sbc: orange pi lite
there is dedicated wifi-hotspot software in dietpi-software, but from unknow reasons it can't find repository of  it. Hotspotd installed succesfully, but it still think that it is not  #installed
# COPY OF CONSOLE LOG
**root@sbc:/path/hotspotd-0.1.4#** sudo hotspotd configure
_Verifying connections
Wifi interface found: wlan0
No network nic could be fou

[2017-12-12 01:57] prahladyeri commented on #45
It only means that the underlying `hostapd` component couldn't be found on your linux machine. Try running `which hostapd` to locate the executable, and install the package if necessary. This program (`hotspotd`) depends on it.

[2017-12-14 11:36] psachin commented on #45
@Sarverott

1. Looks like configuration was not able to detect the interface which connect to the "internet" as 'inet' value is empty
[code]
and
[code]

2. You also need to find a way to install `hostapd` on Orange Pi
3. I see that a binary is placed under ` /usr/local/bin/hotspotd`. Can you try,
[code]

[2017-12-19 10:07] psachin opened #47 "Refactored version available"
Hello @prahladyeri

In an attempt to run it on Slackware GNU/Linux I refactored it. I'am quite happy with it. The changes and can be found here https://github.com/psachin/hotspotd

Let me know your view so that I start sending you changes.

[2017-12-26 13:52] KaiserEd opened #48 "Slave Raspberry Pi with Arduino"
Hi everyone! I've been searching the internet about "slaving raspi with arduino" but I did not get any answer. All I see is "slave arduino with raspi". Does anyone here knows how to execute a python code on raspi using arduino via serial monitor? I am looking on how arduino send commands on serial monitor then to be executed by raspi.
Any comments and suggestions would be helpful.

Thank you and m

[2018-02-06 17:33] nadavb opened #49 "Works very well! [Adding basic web server]"
Wow! hotspotd works out of the box (I tried it on Dragonboard 410c). Very nice.

Now a question - what's the right way to add a simple web server, so when a I browse from my phone to any url, a default web page will be shown? (This will be used for the wifi provisioning of the device)

[2018-02-07 04:17] prahladyeri commented on #49
Thanks a lot!

No, I don't think a web-interface can be easily added as the access point works through NAT forwarding using `iptables`.

It has been a long time since I had a look at the code, though. Once I get some time, I'll review it again and you know if some way to achieve this.

[2018-02-08 11:21] nadavb commented on #49
Thanks. Once the device is connected to the AP we just created using hotspotd, why should it be complicated to simply listen to incoming TCP requests, like a regular web server, and answer them?

If I install a simple web server, wouldn't it be easy?

[2018-02-08 14:01] nadavb commented on #49
Btw - I just installed Apache (web server) and it worked out of the box, so hotspod + apache can help doing the provisioning screen easily. (The captive portal)

[2018-03-03 18:52] tchaler2017 commented on #33
I am getting the same error as Konsbn, DNS error is on both the mobile device and the Host Computer. when i tried this command ifconfig <wlan> up IP <ipaddr> netmask 255.255.255.0 the result is:
IP: Unknown host.
i have installed dnsmasq and the verion is 2.78. i am using kali linux 2018.1. Need help!!!!!

[2018-03-06 08:36] nadavb opened #50 "How to create a hotspot without password? (No password required)?"
When I do: `sudo hotspotd configure`, it asks for password.
I would like to create a hotspot with SSID, but with no need for a password.

[2018-03-07 08:36] prahladyeri commented on #50
Yep, you can edit the hotspot configuration through `run.conf`. I'd still recommend you to setup a password though, a fully transparent wifi hotspot is insecure as anyone with a wifi device can use your hotspot without authorization.

[2018-04-21 09:10] J0rdyV opened #51 "How can i configure wlan to get internet connection from ethernet?"
I have hotspotd configured on my raspberry pi and it works perfectly.
The only thing i now want to configure is that when an ethernet cable is connected, i also have internet on the hotspot i created.
For the moment i start hotspotd in my rc.local so i can always connect to the rpi.
I have looked on the internet to set this up but didn't find an obvious answer.

This is my ifconfig. Removed the ma

[2018-04-21 12:43] prahladyeri commented on #51
If you open the `JSON` configuration file where your configuration is stored, you'll find two keys called `wlan` and `inet`. The former refers to the Wireless LAN interface on which the local hotspot clients connects to your hotspot, whereas the latter refers to that interface (wireless, ethernet or whatever) which is actually connected to the internet.

So, if you are presently using a wireless i

[2018-04-28 12:23] naumanafsar opened #52 "Does it work on Ubuntu 18.04?"
I successfully installed everything on my Ubuntu 18.04 but i am unable to connect my android phone with the hotspot created with the hotspotd.
Well, i can't even see my hotspotd ssid on my phone, i tried "Add Network" thought it maybe a hidden network, but that doesn't work either!

Help Please!

[2018-04-28 13:11] prahladyeri commented on #52
Its not a hidden network, the problem should be on the server. Is `hotspotd` even started on the server, if so what message is seen on the console?

[2018-05-01 06:34] naumanafsar commented on #52
When i start hostapd, it says ```Verifying interfaces
done.
created interface: mon.wlp2s0 on IP: 192.168.8.100
wait..
enabling forward in sysctl.
net.ipv4.ip_forward = 1
creating NAT using iptables: wlp2s0<->enp1s0:
running dnsmasq
hotspot is running.
[code]

[2018-06-20 11:20] J0rdyV commented on #51
This worked, thank you.
You can close this issue 😃

[2018-07-21 14:27] shreyasaha1997 opened #53 "Hotspot not being detected by android phone"
sudo hotspotd command is working all fine. My wifi card supports the AP mode as well. However, I cannot see the hotspot name on my android phone. Can you tell me where I am going wrong?

[2018-07-21 14:38] prahladyeri commented on #53
Its probably got something to do with your phone, try to rescan on multiple devices. If the issue still occurs, let me know the console output of `hotspotd` when you start it.

[2018-07-21 15:58] shreyasaha1997 commented on #53
Other phones are not able to detect the wifi as well. My laptop doesn't have a wired internet connection. Its connected to JioFi. I read that in case your laptop is connected to a wireless network, it cant be connected to the internet as well as support a hotspot at the same time. So, do you think I should try using a LAN cable?

My console outputs are as follows:

shreya@shreya-Inspiron-3543:~/De

[2018-07-21 16:20] prahladyeri commented on #53
That's not necessary, you can use the same device to create multiple virtual connections, one connecting to the jiofi interface and another connecting to your local WLAN. However, you need to make sure that `hotspotd` is configured properly (the jiofi and local wifi connections are identified as such):

    Wifi interface found: wlp6s0
    Network interface found: enp7s0

As per your logs, this is

[2018-08-07 16:15] #53 closed

[2018-08-07 16:35] shreyasaha1997 opened #54 "Not an issue, a question"
Is there anyway in which we can see the mac address of device when it is trying to connect to my wifi and ask the device for additional details? Can we block certain mac addresses using hotspotd?

[2018-08-09 11:15] prahladyeri commented on #54
You'll have to look into the man page of [dns-masq](http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html). As you can see in main.py code (line 223), our app is just delegating the DNS part to `dnsmasq` which assigns the IP addresses to your connected clients:

	#start dnsmasq
	s = 'dnsmasq --dhcp-authoritative --interface=' + wlan + ' --dhcp-range=' + ipparts + '.20,' + ipparts +'.100,' + N

[2018-08-09 14:17] shreyasaha1997 commented on #54
Thanks a lot. One more thing, can you suggest what should I do for the following:

I want to send and receive some additional details from a device before I allow it to access internet using my hotspot. Is it possible?

[2018-08-09 15:54] prahladyeri commented on #54
I'm afraid not! If you see the `main.py` code, all we are doing is creating a low-level NAT bridge using `iptables` between the client interface and the online (internet) interface:

	print 'creating NAT using iptables: ' + wlan + '<->' + ppp
	cli.execute_shell('iptables -P FORWARD ACCEPT')

	#add iptables rules to create the NAT.
	cli.execute_shell('iptables --table nat --delete-chain')
	cli.exec

[2018-08-09 19:42] shreyasaha1997 commented on #54
All right thanks again and just one last thing. Is the following possible?

A device is connected to my hotspot and is allotted an ip address but is not allowed to access the internet yet. Can I allow it to access the internet only after a TCP/UDP communication between the device and the my device that is running hotspotd?

[2018-08-10 01:57] prahladyeri commented on #54
Most Welcome! Problem here is that our app isn't doing much on the listening and ip allocation part, all it does is delegate to `dnsmasq` for ip allocation and `iptables` for NAT forwarding, our app isn't even in the picture when the device actually gets connected to the hotspot.

For what you want to achieve, NAT isn't a good idea, but you'll have to research into something called proxy servers:

[2018-09-17 15:15] noraj commented on #26
[code]

[code]

[code]

[code]

[code]

[2018-09-17 15:27] noraj commented on #26
@prahladyeri The failure is not from drivers but from the code.

https://github.com/prahladyeri/hotspotd/blob/682602639fdaa342b2749d34c12254f9d98a9981/main.py#L44

https://github.com/prahladyeri/hotspotd/blob/682602639fdaa342b2749d34c12254f9d98a9981/main.py#L56

Both of this command won't be used on any arch based distros because they are deprecated (using ip instead).

Instead of parsing the outp

[2018-09-18 01:58] prahladyeri commented on #26
@noraj The problem with `ip addr` command is that there isn't enough information to determine whether its a wifi or ethernet card:

    wlp6s0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000

In contrast, `iwconfig` has the exact string that helps to know if its a wifi card:

    IEEE 802.11

Even if the commands are depreciated on arch, they should still

[2018-09-18 18:04] noraj commented on #26
@prahladyeri I don't agree at all.

With this kind of thinking, nothing could change. And it's not deprecated **for arch**, it is deprecated. That's just that debian make a release every 4 years so they have always old and deprecated stuff, this distro is designed only for retro-compatibility purpose and supporting exotic architecture, using it on a desktop is a non-sense.

That's not true. No mat

[2018-09-18 18:06] noraj commented on #26
For everyone that can't use this tool, use https://github.com/oblique/create_ap instead it is better coded, more maintained, more available, more compatible and more famous. And it has more features.

[2018-09-19 03:45] #26 closed

[2018-09-19 03:46] #54 closed

[2018-09-19 03:47] prahladyeri commented on #49
I'm closing this since its a long time, reopen a new case if you are still using hotspotd and have this issue.

[2018-09-19 03:47] #49 closed

[2018-09-19 03:48] prahladyeri commented on #52
I'm closing since its a very long time, raise a new issue if you are still using hotspotd and facing this issue.

[2018-09-19 03:48] #52 closed

[2018-09-19 03:49] prahladyeri commented on #48
Not pertaining to the topic.

[2018-09-19 03:49] #48 closed

[2018-09-19 03:49] prahladyeri commented on #47
What exactly have you changed?

[2018-09-20 09:03] #45 closed

[2018-09-20 09:03] #43 closed

[2018-09-20 09:03] #41 closed

[2018-09-27 05:38] nihalrai opened #56 "Starting hotspotd turns off Wifi Connection"
Installing Hotspotd turns off Wifi Connection.
System: Ubuntu 18

[2018-09-28 20:21] shreyasaha1997 commented on #54
I have a doubt. Just want to know if it works or not. Say I have created two dhcp ranges using dnsmasq. Say the first range is from 192.168.45.20-40 and the second range is from 192.168.45.60-80. The first scope does not allow default gateway to the internet, the devices can only communicate with each other using TCP/UDP. The second scope allows access to the internet. Now, say a device is first a

[2018-09-28 20:31] shreyasaha1997 opened #57 "Not an issue, a doubt"
I have a doubt. Just want to know if it works or not. Say I have created two dhcp ranges using dnsmasq. Say the first range is from 192.168.45.20-40 and the second range is from 192.168.45.60-80. The first scope does not allow default gateway to the internet, the devices can only communicate with each other using TCP/UDP. The second scope allows access to the internet. Now, say a device is first a

[2019-05-21 05:44] #22 closed

[2019-05-21 05:46] prahladyeri commented on #23
Tired. Too much work. Won't Fix.

[2019-05-21 05:46] #23 closed

[2019-05-21 05:47] prahladyeri commented on #21
Tired. Too much work. Won't Fix.

[2019-05-21 05:47] #21 closed

[2019-07-04 07:21] prahladyeri commented on #39
Closing as there has been no activity.

[2019-07-04 07:21] #39 closed

[2019-07-04 07:21] prahladyeri commented on #28
Closing as there has been no activity.

[2019-07-04 07:21] #28 closed

[2019-07-04 07:21] prahladyeri commented on #25
Closing as there has been no activity.

[2019-07-04 07:21] #25 closed

[2019-07-04 07:24] prahladyeri commented on #27
Closing as there has been no activity.

[2019-07-04 07:24] #27 closed

[2019-07-04 07:24] prahladyeri commented on #29
Closing as there has been no activity.

[2019-07-04 07:24] #29 closed

[2019-07-04 07:25] prahladyeri commented on #33
Closing as there has been no activity.

[2019-07-04 07:25] #33 closed

[2019-07-04 07:25] prahladyeri commented on #37
Closing as there has been no activity.

[2019-07-04 07:25] #37 closed

[2019-07-04 07:26] prahladyeri commented on #38
Closing as there has been no activity.

[2019-07-04 07:26] #38 closed

[2019-07-04 07:26] prahladyeri commented on #40
Closing as there has been no activity.

[2019-07-04 07:26] #40 closed

[2019-07-22 12:35] sudesh1122 commented on #28
I had set up the hotspot and other devices are showing this Pac's name after wifi network searching but even a single device is not able to connect to this network. Btw I'm using Kali Linux. Please help.....

[2019-08-01 18:00] mohammed1997010 opened #58 "Edit the source code"
hi...
I need to Edit the source code so when any one try to connect to the hotspot
and use a password  I want to print the password which he/she used to connect to my hotspot
(I want to get the variable password and print it when any one try to connect to the hotspot)
thanx <)

[2019-08-03 04:23] prahladyeri commented on #58
If you setup using the tarball, then the source should be on your usual PYTHON path where the libraries are typically installed. On Linux, this is usually this:

    /usr/lib/python2.7/dist-packages/setuptools

And on windows, it is this:

    `C:\\Users\\<user>\\AppData\\Local\\Programs\\Python\\Python<ver>\\lib\\test`

Hope that helps.

[2019-08-03 04:23] #58 closed

[2019-08-03 15:48] mohammed1997010 commented on #58
thank you...
I have another question plz...
in the source code what is the variable name which containing the password that the user used it t connect to my hotspot
I want the tool to print it for me
thank you

[2021-03-01 12:00] materoy opened #59 "Permission denied !!"
Requires extra priviledges to create a directory in linux /etc dir

   os.makedirs(self.root_directory)
  File "/usr/lib/python3.9/os.py", line 225, in makedirs
    mkdir(name, mode)
PermissionError: [Errno 13] Permission denied: '/etc/accesspoint/'

[2021-07-17 09:20] Ljay764 commented on #27
hi
i am facing this error.
Verifying connections
Wireless interface could not be found on your device.
Traceback (most recent call last):
  File "/usr/local/bin/hotspotd", line 22, in <module>
    hotspotd.main.main(args)
  File "/usr/local/lib/python2.7/dist-packages/hotspotd/main.py", line 310, in main
    dc =json.load(open('hotspotd.json'))
IOError: [Errno 2] No such file or directory: 'hotspo

[2021-07-19 11:34] Darth14619 opened #60 "Mobile connected to the the network but no internet access"
Hi,
I am using this program on my Kali Linux and everything went perfectly and I even started the hotspotd but when I connected to that network I receeved a message which said connected but no internet access. Without it I cannot do the WhatsApp Call which is why can somebody help me please ??

[2021-12-10 02:49] s-murphy1 opened #61 "Who the hell doesn't know print() syntax"
Idk how, but someone made commits that now run into syntax errors for print command!
The python scripts are riddled with it and won't execute properly

[2022-05-02 16:15] ghost opened #62 "how to share my vpn connection or socks5 port over hotspot which created by hotspotd?"

[2022-07-01 13:46] Popzindawood commented on #61
Is there a devloper here ???
can someone help to fix it ?

[2022-10-04 04:36] CINOAdam commented on #61
I think the issue you are having regarding print() is related to the python version. This project appears to be written for python 2.

[2022-11-05 23:53] jessegabriels opened #63 "ModuleNotFoundError: No module named 'cli'"
Can someone help me with this? I'm trying to make my Raspberry Pi 4B act as an access point. When I try to run "sudo hotspotd start" I get the following error:

  File "/usr/local/lib/python3.9/dist-packages/hotspotd/main.py", line 8, in <module>
    import cli
ModuleNotFoundError: No module named 'cli'

Thanks!
Jesse